
#input{
    margin-left: 5px;
}


.btn-Buscar{
    background: red;
    padding: 10px 15px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
}

#defaultInline2{
    margin-left: 15px;
}

#tex{
    font-size: 15px;
    color: white;
    margin-left: 5px;
}

#Form1{
    background-color: rgba(37, 44, 255, 0.63);
   
    
  
    

}

#Header{
background-image: url(../../Assets/Images/233740-P2CEY2-880.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 600px;
padding-top: 150px;
padding-left: 50px;
padding-right: 50px;

}

#h4{
    color: white;
}


#Turismo__Nacional{
    background: #184893;

}





#Promo1{
    font-size: 25px;
    font-family: -apple-system;
    margin-top: 20px;
    margin-left: 20px;
}

#Promo2{
    font-size: 25px;
    font-family: -apple-system;
    margin-bottom: -90px;
    margin-top: 90px;
    margin-left: 20px;
}

#Promo{
    font-size: 30px;
    transform: rotate(-15deg);
    margin-top: -30px;
    margin-left: 20px;
}

#alineacion{
    transform: rotate(-15deg);
}









.Col1{
    font-family: 'Lobster', cursive;
    background-image: url(../../Assets/Images/brazil\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.Col2{
    font-family: 'Lobster', cursive;
    background-image: url(../../Assets/Images/chile\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.Col3{
    font-family: 'Lobster', cursive;
    background-image: url(../../Assets/Images/costarica.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.Col4{

    font-family: 'Lobster', cursive;
    background-image: url(../../Assets/Images/canaima\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.Col5{
    font-family: 'Lobster', cursive;
    background-image: url(../../Assets/Images/cuyagua\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

h2{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 100px;
}

p{
    color: white;
}

.boton{
    background: white;
    border-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    color: black;
    font-size: 17px;
    font-weight: 200;
    text-align: center;
}

.boton2{
    background: red;
    color: white;
    border-color: red;
    margin-left: 30px;
    padding: 8px 20px;
    border-radius: 15px;
}

.hola{
    margin-top: 50px;
}